<h1>Here is a Little About Me </h1>
<p><%= @bio %></p>
<p><strong>Education:</strong> <%= @whereIlearned %></p>
<p><strong>Skills:</strong> <%= @skills.join(",") %></p>
<p><strong>Achievements:</strong> <%= @achieved %></p>

